<style>
    #navv {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
</style>

<nav id="navv" class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="profile-wrapper d-flex justify-content-between align-items-center">
        <div class="navbar-brand text-white" style="margin-left: 10px;">{{userData.user.userName}}</div>
    </div>
    <div style="width: 10rem; display:flex; justify-content:space-between; align-items:center">
        <div style="padding:0.5rem;">
            <a style="color: #fff; text-decoration:none" href="/">Home</a>
        </div>
        <a class="btn btn-warning" onclick="return confirm('Are you sure want to logout')" href="/logout">
            Log Out
        </a>
    </div>
</nav>
{{#if alert}}
<div class="alert alert-success" role="alert">
    {{this.alert.message}}
</div>
{{/if}}
<div class="p-2 pe-5 d-flex justify-content-between bg-white">
    <div>
        <img class="img-fluid"
            src="https://img.freepik.com/free-vector/blog-post-concept-illustration_114360-154.jpg?w=2000" alt="">
    </div>
    <section class="new-blog d-flex flex-column align-items-center p-3">
        <h2 class="mt-5">New Blog</h2>
        <div class="mb-5 p-2">
            <form action="/new-blog" method="post">
                <div class="form-outline mt-4 d-flex flex-column">
                    <input type="text" class="form-control" style="width:600px !important;" id="title" name="title">
                    <label class="form-label" for="title"> Title</label>
                </div>
                <div class="form-outline mt-4 d-flex flex-column">
                    <textarea type="text" class="form-control" style="width:600px !important;" id="title" name="body"
                        rows="10"></textarea>
                    <label class="form-label" for="title">Article</label>
                </div>
                <div class="btn-container d-flex flex-row justify-content-end"><button type="reset"
                        class="btn btn-outline-danger">Clear</button><button type="submit"
                        class="btn btn-outline-primary ms-3">Upload</button></div>
            </form>
        </div>
    </section>
</div>
<script>
    $(document).ready(() => {
        setTimeout(() => {
            $('.alert').toggle()
        }, 2000)
    })
</script>